.div-searchMain-dashEquip{
  display: flex;
  width: 100% !important;
  align-items: center;
  justify-content: space-between !important;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 12px;
}
.searchMain-dashEquip{
  width: 70%;
  height: 40px;
}

.div-buttonSelected-dashEquip {
  color: rgba(255, 255, 255, 0.6) !important;
  width: 37.8px;
  display: flex;
  justify-content: center
}

.buttonAvancado-dashEquip{
  height: 40px !important;
  width: 105px !important;
  background-color: #001529 !important;
  border-color: #001529 !important;
}
.buttonAvancado-dashEquip:hover{
  background-color: #1890ff !important;
  border-color: #1890ff !important;
}
.div-searchAdvanced-dashEquip{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 96% !important;
  padding-left: 10px;
  padding-right: 10px;
}
.div-advanced-dashEquip{
  display: flex;
  justify-content: center;
  width: 100% !important;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.div-avancado-serialNumber-dashEquip{
  width: 20%;
}
.div-avancado-cnpj-dashEquip{
  width: 20%;
  margin-left: 20px !important;
}
.div-avancado-razaoSocial-dashEquip{
  width: 60%;
  margin-left: 20px !important;
}
.div-avancado-tipo-dashEquip{
  width: 25%;
}
.div-avancado-marca-dashEquip{
  width: 20%;
  margin-left: 20px !important;
}
.div-avancado-modelo-dashEquip{
  width: 35%;
  margin-left: 20px !important;
}
.div-avancado-leitor-dashEquip{
  width: 20%;
  margin-left: 20px !important;
}




.div-mainHeader-dashEquip{
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
.div-table-information-dashEquip{
  display: flex;
  justify-content: space-between;
}
.div-table-information-total-dashEquip{
  display: flex;
  flex-direction: column;
  width: 170px;
  margin-bottom: 5px;
}
.label-table-information-dashEquip{
  color: #35353591;
  padding-left: 2px;
  font-size: 12px;
}
.div-table-information-count-dashEquip{
  display: flex;
  align-items: flex-end;
}
.div-table-separeteLineMain-dashEquip{
  width: 100%;
  height: 2px;
  background-color: #001529;
}
.div-icon-dashEquip{
  width: 10px;
  cursor: pointer;
  color: #ffffff !important;
  align-self: center;
}

.div-tableRow-dashEquip{
  padding-top: 3px;
  display: flex;
}

.div-tableRow-dashEquip:hover{
  background-color: #0084ff77;
}

.div-table-header-dashEquip{
  display: flex;
  width: 100%;
  background-color: #001529;
}
.div-table-cel-serialNumber-dashEquip{
  width: 15% !important;
  display: flex;
  cursor: pointer;
}
.div-table-cel-cnpj-dashEquip{
  width: 15% !important;
  display: flex;
  cursor: pointer;
}
.div-table-cel-razaoSocial-dashEquip{
  width: 17% !important;
  display: flex;
  cursor: pointer;
}
.div-table-cel-tipo-dashEquip{
  width: 15% !important;
  display: flex;
  cursor: pointer;
}
.div-table-cel-marca-dashEquip{
  width: 15% !important;
  display: flex;
  cursor: pointer;
}
.div-table-cel-modelo-dashEquip{
  width: 18% !important;
  display: flex;
  cursor: pointer;
}
.div-table-label-dashEquip{
  color: #ffffff !important;
  font-weight: bold !important;
  font-size: 15px !important;
  margin: 0 0 0 5px !important;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
.div-table-separeteLinerow-dashEquip{
  width: 100%;
  height: 1px;
  background-color: rgba(153, 153, 153, 0.788);
}
.div-table-footer-dashEquip{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
  background-color: #001529;
}
.table-buttonFooter-dashEquip{
  height: 25px;
  background-color: white;
  color: #001529;
  cursor: pointer;
  outline: none;
  margin: 3px;
  border-radius: 3px
}


.div-table-list-dashEquip{
  width: 100%;
  display: flex;
  flex-direction: column
}
.div-tableRow-dashEquip{
  width: 100%;
  padding-top: 3px;
  display: flex;
}
.div-table-cel-cnpj-dashEquip{
  width: 15% !important;
  display: flex;
  cursor: pointer;
}
.div-table-label-cel-dashEquip{
  margin-left: 15px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.div-table-separeteLinerow-dashEquip{
  width: 100%;
  height: 1px;
  background-color: rgba(153, 153, 153, 0.788);
}



.div-form-modal-dashEquip{
  display: flex;
  flex-direction: column
}
.h3-modal-dashEquip{
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  color: #9e9e9e
}
.div-linhaModal-dashEquip{
  width: 100%;
  display: flex;
  justify-content: space-between
}
.p-dashEquip{
  color: black
}
.div-textSerialNumber-modal-dashEquip{
  width: 33%;
  font-size: 15px;
  font-weight: bold
}
.div-textType-modal-dashEquip{
  width: 33%;
  font-size: 15px;
  font-weight: bold
}
.div-textMark-modal-dashEquip{
  width: 33%;
  font-size: 15px;
  font-weight: bold
}
.div-textModel-modal-dashEquip{
  width: 40%;
  font-size: 15px;
  font-weight: bold;
  margin-right: 20px
}
.div-textLeitor-modal-dashEquip{
  width: 35%;
  font-size: 15px;
  font-weight: bold
}
.div-linhaModal2-dashEquip{
  width: 100%;
  display: flex;
}
.div-textCnpj-modal-dashEquip{
  width: 30%;
  font-size: 15px;
  font-weight: bold;
  margin-right: 20px
}
.div-textRazaoSocial-modal-dashEquip{
  width: 70%;
  font-size: 15px;
  font-weight: bold
}
.div-textCep-modal-dashEquip{
  width: 17%;
  font-size: 15px;
  font-weight: bold
}
.div-textRua-modal-dashEquip{
  width: 33%;
  font-size: 15px;
  font-weight: bold
}
.div-textNumero-modal-dashEquip{
  width: 15%;
  font-size: 15px;
  font-weight: bold
}
.div-textBairro-modal-dashEquip{
  width: 35%;
  font-size: 15px;
  font-weight: bold
}
.div-textCity-modal-dashEquip{
  width: 25%;
  font-size: 15px;
  font-weight: bold
}
.div-textState-modal-dashEquip{
  width: 25%;
  font-size: 15px;
  font-weight: bold
}
.div-textRef-modal-dashEquip{
  width: 60%;
  font-size: 15px;
  font-weight: bold
}
.div-textNome-modal-dashEquip{
  width: 35%;
  font-size: 15px;
  font-weight: bold
}
.div-textEmail-modal-dashEquip{
  width: 40%;
  font-size: 15px;
  font-weight: bold
}
.div-textTel-modal-dashEquip{
  width: 25%;
  font-size: 15px;
  font-weight: bold;
}

.spin-dashEquip{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.div-dashEquip-inputModal{
  width: 90%;
  margin: 5px 0 2px 0;
  padding: 0 0 1px 5px;
}

.div-dashEquip-inputModal-inputError{
  width: 90%;
  margin: 5px 0 2px 0;
  padding: 0 0 1px 5px;
  border: 1px solid #ff0000 !important;
  background-color: #ff6c6c3b !important;
}