.card-bg-newAcessorio{
  margin-top: 10px;
  width: 98% !important;
  box-shadow: 1px 5px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100% !important;
  position: sticky;
  bottom: 0;
  padding-bottom: 50px;
}
.form-newAcessorio{
  width: 76%;
  display: flex;
  flex-direction: column;
}
.div-acessorio-newAcessorio{
  width: 100%;
}
.div-card-newAcessorio{
  width: 100%;
  margin-top: 50px
}
.card-newAcessorio{
  width: 100%;
}
.div-button-newAcessorio{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.p-newAcessorio{
  padding:  5px 0 0 10px
}