.card-bg-dashTec{
  margin-top: 10px;
  height: calc(200% - 10px) !important;
  width: 98% !important;
  box-shadow: 1px 5px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-bemVindo-dashTec{
  width: 96%;
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: bold
}
.div-linha-cardsInfo-dashTec{
  width: 96%;
  display: flex;
  justify-content: space-between;
}
.card-info-dashTec{
  width: 19%;
  display: flex;
  flex-direction: column;
  align-items: center
}
.div-card-agAnalise-dashTec{
  width: 100%;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}
.div-card-numero-dashTec{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold
}
.div-linha-dashTec{
  width: 100%
}