.div-card-control{
  margin-top: 10px;
  width: 98% !important;
  box-shadow: 1px 0px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100% !important;
  position: sticky;
  bottom: 0;
  padding-bottom: 50px;
}