.div-card-dashPeca{
  margin-top: 10px;
  width: 98% !important;
  box-shadow: 1px 0px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100% !important;
  position: sticky;
  bottom: 0;
  padding-bottom: 50px;
}

.div-searchMain-dashPeca{
  display: flex;
  width: 100% !important;
  align-items: center;
  justify-content: space-between !important;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 12px;
}
.searchMain-dashPeca{
  width: 70%;
  height: 40px
}
.buttonAvancado-dashPeca{
  height: 40px !important;
  width: 105px !important;
  background-color: #001529 !important;
  border-color: #001529 !important;
}
.buttonAvancado-dashPeca:hover{
  background-color: #1890ff !important;
  border-color: #1890ff !important;
}
.div-advanced-dashPeca{
  display: flex;
  justify-content: center;
  width: 96% !important;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.div-avancado-peca-dashPeca{
  width: 23%;
}
.div-avancado-desc-dashPeca{
  width: 45%;
  margin-left: 20px !important;
}
.div-avancado-custo-dashPeca{
  width: 13%;
  margin-left: 20px !important;
}
.div-avancado-venda-dashPeca{
  width: 14%;
  margin-left: 20px !important;
}

.div-mainHeader-dashPeca{
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
.div-table-information-dashPeca{
  display: flex;
  justify-content: space-between;
}
.div-table-information-total-dashPeca{
  display: flex;
  flex-direction: column;
  width: 170px;
  margin-bottom: 5px;
}
.label-table-information-dashPeca{
  color: #35353591;
  padding-left: 2px;
  font-size: 12px;
}
.div-table-information-count-dashPeca{
  display: flex;
  align-items: flex-end;
}
.div-table-separeteLineMain-dashPeca{
  width: 100%;
  height: 2px;
  background-color: #001529;
}
.div-icon-dashPeca{
  width: 10px;
  cursor: pointer;
  color: #ffffff !important;
  align-self: center;
}

.div-tableRow-dashPeca{
  padding-top: 3px;
  display: flex;
}

.div-tableRow-dashPeca:hover{
  background-color: #0084ff77;
}

.div-table-header-dashPeca{
  display: flex;
  width: 100%;
  background-color: #001529;
}
.div-table-cel-peca-dashPeca{
  width: 23% !important;
  display: flex;
  cursor: pointer;
}
.div-table-cel-desc-dashPeca{
  width: 57% !important;
  display: flex;
  cursor: pointer;
}
.div-table-cel-precoCusto-dashPeca{
  width: 10% !important;
  display: flex;
  cursor: pointer;
}
.div-table-cel-precoVenda-dashPeca{
  width: 10% !important;
  display: flex;
  cursor: pointer;
}
.div-table-label-cel-dashPeca{
  margin-left: 15px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
.div-table-label-dashPeca{
  color: #ffffff !important;
  font-weight: bold !important;
  font-size: 15px !important;
  margin: 0 0 0 5px !important;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
.div-table-separeteLinerow-dashPeca{
  width: 100%;
  height: 1px;
  background-color: rgba(153, 153, 153, 0.788);
}
.div-table-footer-dashPeca{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
  background-color: #001529;
}
.table-buttonFooter-dashPeca{
  height: 25px;
  background-color: white;
  color: #001529;
  cursor: pointer;
  outline: none;
  margin: 3px;
  border-radius: 3px
}


.table-spaceFooter-dashPeca{
  background-color: #001529;
  color: white;
  margin: 9px;
}

.div-buttonSelected-dashPeca {
  color: rgba(255, 255, 255, 0.6) !important;
  width: 37.8px;
  display: flex;
  justify-content: center
}
.spin-dashPeca{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: #001529
}
.ant-spin-dot-item{
  background-color: #001429;
}