.div-entrance-linha1{
  margin: 0 0 20px 0;
  width: 76% !important;
  display: flex;
  justify-content: space-between
}
.div-entrance-cnpj{
  width: 22% !important
}
.div-entrance-rs{
  width: 70% !important
}
.div-entrance-ns{
  width: 22% !important
}
.div-entrance-cor{
  width: 20% !important
}
.div-entrance-desc{
  width: 100% !important
}
.div-entrance-danos{
  width: 20% !important
}
.div-entrance-inputDanos{
  width: 100%
}
.div-danos{
  display: flex;
  width: 100% !important;
  align-items: center;
}
.ponto{
  color: white
}
.div-entrance-acessorio{
  width: 100%
}
.div-entrance-defeito{
  width: 100%
}
.div-button-entrance{
  width: 76% !important;
  display: flex;
  justify-content: flex-end;
}
.button-entrance{
  color: white !important;
  background-color: #001429 !important;
  border: #001429 !important
}
.button-entrance:hover{
  color: white !important;
  background-color: #1790FF !important;
  border: #1790FF !important
}