h2{
  color: rgb(107, 107, 107) !important;
  font-weight: bold !important;
  font-size: 17px !important;
  margin: 0 !important;
}
.div-card{
  margin-top: 10px;
  height: 96vh !important;
  width: 98% !important;
  box-shadow: 1px 5px 12px;
  display: flex;
  flex-direction: column
}
.div-primeiraLinha{
  display: flex;
  width: 100% !important;
  justify-content: center;
}
.input-rs{
  width: 100% !important
}
.div-rs{
  width: 56% !important;
  margin: 20px 0 20px 10px !important;
}
.div-cnpj{
  width: 20% !important;
  margin: 20px 30px 20px 0 !important;
}
.input-cnpj{
  width: 100% !important
}
.div-nome{
  width: 27% !important;
  margin: 20px 30px 20px 10px !important;
}
.input-nome{
  width: 100% !important
}
.div-email{
  width: 33% !important;
  margin: 20px 30px 20px 0 !important;
}
.input-email{
  width: 100% !important
}
.div-tel{
  width: 16% !important;
  margin: 20px 0 20px 0 !important;
}
.input-tel{
  width: 100% !important
}
.div-cep{
  width: 12% !important;
  margin: 20px 30px 20px 10px !important;
}
.input-cep{
  width: 100% !important
}
.div-uf{
  width: 6% !important;
  margin: 20px 30px 20px 0 !important;
}
.input-uf{
  width: 100% !important
}
.div-rua{
  width: 58% !important;
  margin: 20px 0 20px 0 !important;
}
.input-rua{
  width: 100% !important
}
.div-city{
  width: 35% !important;
  margin: 20px 30px 20px 10px !important;
}
.input-city{
  width: 100% !important
}
.div-bairro{
  width: 30% !important;
  margin: 20px 30px 20px 0 !important;
}
.input-bairro{
  width: 100% !important
}
.div-compl{
  width: 11% !important;
  margin: 20px 0 20px 0 !important;
}
.input-compl{
  width: 100% !important
}
.div-numero{
  width: 13% !important;
  margin: 20px 30px 20px 10px !important;
}
.input-numero{
  width: 100% !important
}
.div-refer{
  width: 64% !important;
  margin: 20px 0 0 20px !important;
}
.input-refer{
  width: 100% !important
}
.div-button{
  display: flex;
  width: 90% !important;
  justify-content: flex-end;
}