.teste{
  height: 98vh !important;
  width: 98% !important;
}
.div-main-newCompany{
  display: flex;
  flex-direction: column;
  height: 100vh !important;
  width: 100% !important
}
.h3{
  font-size: 16px;
  font-weight: bold;
  color: #001429;
  margin: 0;
}
.input-RZ{
  width: 50% !important;
  height: 40px;
  margin-bottom: 10px !important;
}
.input-Cnpj{
  width:25% !important 
}
