.div-card-newCompany{
  margin-top: 10px;
  height: 96vh !important;
  width: 98% !important;
  box-shadow: 1px 5px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
.div-table-newCompany{
  margin: 0 10px 0 10px;
  width: calc(100% - 20px) !important;
  height: 70%;
}
.div-search-newCompany{
  width: 100% !important;
  height: 30% !important;
}
.div-tableNormal-newCompany{
  margin: 0 10px 0 10px;
  width: calc(100% - 20px) !important;
  height: 90%;
}
.div-searchNormal-newCompany{
  width: 100% !important;
  height: 10% !important;
}
.search-newCompany{
  margin: 10px !important;
  width: 70% !important
}
.div-buttonAndSearch{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button-dashCompany{
  height: 40px !important;
  margin-right: 10px;
  background-color: #001529 !important;
  border-color: #001529 !important;
}
.button-dashCompany:hover{
  background-color: #1890ff !important;
  border-color: #1890ff !important;
}
.ant-btn{
  background-color: #001529 !important;
  border-color: #001529 !important;
}
.input-cnpjCompany{
  width: 100% !important
}
.div-linha1{
  justify-content: space-between;
  display: flex;
  width: calc(100% - 20px) !important;
  flex-wrap: wrap;
  margin: 0 10px 10px 10px !important
}
.div-linha2{
  justify-content: space-between;
  display: flex;
  width: calc(40% - 20px) !important;
  flex-wrap: wrap;
  margin: 0 10px 20px 10px !important
}
.div-cnpj-linha1{
  display: flex;
  flex-direction: column;
  display: flex;
  width: 20%
}
.div-rs-linha1{
  display: flex;
  flex-direction: column;
  display: flex;
  width: 45%
}
.div-createdAt-linha1{
  display: flex;
  flex-direction: column;
  display: flex;
  width: 20%
}
.div-nome-linha1{
  display: flex;
  flex-direction: column;
  display: flex;
  width: 50%
}
.div-tel-linha1{
  display: flex;
  flex-direction: column;
  display: flex;
  width: 30%
}