.gerCmp-div-title{
  margin-top: 10px;
  color: aliceblue;
  font-weight: bold !important;
  font-size: 25px !important;
}

.gerCmp-div-header{
  background-color: #001529;
  box-shadow: 0px 3px 25px #001529;
  margin-bottom: 35px;
  display: flex;
  width: 100% !important;
  justify-content: center;
}

.gerCmp-div-table-label{
  color: #ffffff !important;
  font-weight: bold !important;
  font-size: 15px !important;
  margin: 0 0 0 5px !important;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.gerCmp-div-label{
  color: #001529 !important;
  font-weight: bold !important;
  font-size: 14px !important;
  margin: 0 0 0 5px !important;
}

.div-comp-inputError{
  width: 90%;
  margin: 5px 0 2px 0;
  padding: 0 0 1px 5px;
  border: 1px solid #ff0000 !important;
  background-color: #ff6c6c3b !important;
}

.gerCmp-div-card{
  margin-top: 10px;
  width: 98% !important;
  box-shadow: 1px 5px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100% !important;
  position: sticky;
  bottom: 0;
  padding-bottom: 50px;
}
.gerCmp-div-advanced{
  display: flex;
  justify-content: center;
  width: 100% !important;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.gerCmp-div-advanced-line{
  justify-content: space-between;
  display: flex;
  width: calc(100% - 20px) !important;
  margin: 0 10px 10px 10px !important
}

.gerCmp-div-buttonAndSearch{
  display: flex;
  width: 100% !important;
  align-items: center;
  justify-content: space-between !important;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 12px;
}

.gerCmp-button-dashCompany{
  height: 40px !important;
  width: 105px !important;
  background-color: #001529 !important;
  border-color: #001529 !important;
}
.gerCmp-button-dashCompany:hover{
  background-color: #1890ff !important;
  border-color: #1890ff !important;
}

.gerCmp-search{
  width: 70% !important;
}

.gerCmp-div-left{
  width: calc(20% - 20px) !important;
  margin-left: 20px !important;
}

.gerCmp-div-right{
  width: calc(20% - 20px) !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
}


.gerCmp-div-table-header{
  display: flex;
  width: 100%;
  background-color: #001529;
}

.gerCmp-div-table-separeteLineMain{
  width: 100%;
  height: 2px;
  background-color: #001529;
}
.gerCmp-table-buttonFooter{
  height: 25px;
  background-color: white;
  color: #001529;
  cursor: pointer;
  outline: none;
  margin: 3px;
  border-radius: 3px
}

.gerCmp-div-table-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
  background-color: #001529;
}
.gerCmp-div-mainHeader{
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.gerCmp-div-table-cel-cnpj{
  width: 20% !important;
  display: flex;
  cursor: pointer;
}
.gerCmp-div-table-cel-rs{
  width: 30% !important;
  display: flex;
  cursor: pointer;
}
.gerCmp-div-table-cel-nameContact{
  width: 20% !important;
  display: flex;
  cursor: pointer;
}
.gerCmp-div-table-cel-tel{
  width: 15% !important;
  display: flex;
  cursor: pointer;
}
.gerCmp-div-table-cel-createdAt{
  width: 15% !important;
  display: flex;
  cursor: pointer;
}

.gerCmp-div-icon{
  width: 10px;
  cursor: pointer;
  color: #ffffff !important;
  align-self: center;
}

.gerCmp-div-tableRow{
  padding-top: 3px;
  display: flex;
}

.gerCmp-div-tableRow:hover{
  background-color: #0084ff77;
}

.gerCmp-div-table-label-cel{
  margin-left: 15px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.gerCmp-div-table-separeteLinerow{
  width: 100%;
  height: 1px;
  background-color: rgba(153, 153, 153, 0.788);
}
.gerCmp-div-table-list{
  width: 100%;
}

.gerCmp-div-table-information{
  display: flex;
  justify-content: space-between;
}

.gerCmp-div-table-information-count{
  display: flex;
  align-items: flex-end;
}

.gerCmp-label-table-information{
  color: #35353591;
  padding-left: 2px;
  font-size: 12px;
}

.gerCmp-div-table-information-total{
  display: flex;
  flex-direction: column;
  width: 170px;
  margin-bottom: 5px;
}
/* gerCmp-div-table-information */
/* 
  .div-gerCmp-Linha{
    display: flex;
    width: 100% !important;
    justify-content: center;
  }

.div-card-newCompany{
  margin-top: 10px;
  height: 96vh !important;
  width: 98% !important;
  box-shadow: 1px 5px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
.div-table-newCompany{
  margin: 0 10px 0 10px;
  width: calc(100% - 20px) !important;
  height: 70%;
}
.div-search-newCompany{
  width: 100% !important;
  height: 30% !important;
}
.div-tableNormal-newCompany{
  margin: 0 10px 0 10px;
  width: calc(100% - 20px) !important;
  height: 90%;
}
.div-searchNormal-newCompany{
  width: 100% !important;
  height: 10% !important;
}
.search-newCompany{
  margin: 10px !important;
  width: 70% !important
}
.div-buttonAndSearch{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ant-btn{
  background-color: #001529 !important;
  border-color: #001529 !important;
}
.input-cnpjCompany{
  width: 100% !important
}



.div-cnpj-linha1{
  display: flex;
  flex-direction: column;
  display: flex;
  width: 20%
}
.div-rs-linha1{
  display: flex;
  flex-direction: column;
  display: flex;
  width: 45%
}
.div-createdAt-linha1{
  display: flex;
  flex-direction: column;
  display: flex;
  width: 20%
}
.div-nome-linha1{
  display: flex;
  flex-direction: column;
  display: flex;
  width: 50%
}
.div-tel-linha1{
  display: flex;
  flex-direction: column;
  display: flex;
  width: 30%
} */




.gercomp-div-form-modal{
  display: flex;
  flex-direction: column
}
.gercomp-h3-modal{
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: #9e9e9e;
}
.gercomp-div-linhaModal{
  width: 100%;
  display: flex;
  justify-content: space-between
}
.gercomp-p{
  color: black;
  margin: 9px 0 7px 0;
  padding: 0 0 1px 5px;
}
.gercomp-div-linhaModal2{
  width: 100%;
  display: flex;
}
.gercomp-div-textCnpj-modal{
  width: 30%;
  font-size: 15px;
  font-weight: bold;
  margin-right: 20px
}
.gercomp-div-textRazaoSocial-modal{
  width: 70%;
  font-size: 15px;
  font-weight: bold
}
.gercomp-div-textCriado-modal{
  width: 50%;
  font-size: 15px;
  font-weight: bold
}
.gercomp-div-textAtualizado-modal{
  width: 50%;
  font-size: 15px;
  font-weight: bold
}
.gercomp-div-textNome-modal{
  width: 25%;
  font-size: 15px;
  font-weight: bold
}
.gercomp-div-textTel-modal{
  width: 25%;
  font-size: 15px;
  font-weight: bold;
}
.gercomp-div-textEmail-modal{
  width: 50%;
  font-size: 15px;
  font-weight: bold
}
.gercomp-div-textCep-modal{
  width: 15%;
  font-size: 15px;
  font-weight: bold
}
.gercomp-div-textRua-modal{
  width: 35%;
  font-size: 15px;
  font-weight: bold
}
.gercomp-div-textNumero-modal{
  width: 15%;
  font-size: 15px;
  font-weight: bold
}
.gercomp-div-textBairro-modal{
  width: 35%;
  font-size: 15px;
  font-weight: bold
}
.gercomp-div-textCity-modal{
  width: 25%;
  font-size: 15px;
  font-weight: bold
}
.gercomp-div-textState-modal{
  width: 15%;
  font-size: 15px;
  font-weight: bold
}
.gercomp-div-textRef-modal{
  width: 60%;
  font-size: 15px;
  font-weight: bold
}
/* .gerComp-inputModal{
  width: 100px
} */
.gerComp-inputModal{
  width: 90%;
  margin: 5px 0 2px 0;
  padding: 0 0 1px 5px;
}

.div-buttonSelected-dashComp {
  color: rgba(255, 255, 255, 0.6) !important;
  width: 37.8px;
  display: flex;
  justify-content: center
}
.gerCmp-spin{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.gercomp-div-button-modal{
  display: flex;
  width: 100%;
  height: 50px;
}
.gercomp-div-button-editFalse-modal{
  display: flex;
  width: 100%;
  justify-content: space-between
}
.gercomp-div-button-editTrue-modal{
  display: flex;
  width: 100%;
  justify-content: space-between
}