.card-bg-newUser{
  margin-top: 10px;
  height: calc(200% - 10px) !important;
  width: 98% !important;
  box-shadow: 1px 5px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-form-newUser{
  width: 76%;
}
.div-linha-newUser{
  width: 100%;
  display: flex;
  justify-content: space-between
}
.div-input-newUser{
  width: 40%
}
.div-select-newUser{
  width: 50%
}
.select-newUser{
  width: 100%
}
.div-linhaCheckbox-newUser{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px
}
.h3-newUser{
  font-weight: bold
}
.card-checkbox-newUser{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.div-insideCard-newUser{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column
}
.checkbox-newUser{
  padding: 10px
}
.div-linhaButton-newUser{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px
}
.div-habilitarCustom-newUser{
  padding: 10px
}
.div-h3-newUser{
  width: 100%;
  display: flex;
  justify-content: center
}