.div-formAdd-peca{
  display: flex;
  flex-direction: column;
  width: 76%;
}
.div-linha-peca{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.div-peca-peca{
  width: 69%;
  margin: 10px 0 10px 0;
}

.div-custo-peca{
  width: 15%;
  margin: 10px 0 10px 0;
}
.div-venda-peca{
  width: 15%;
  margin: 10px 0 10px 0;
}
.div-desc-peca{
  width: 100%;
  margin: 10px 0 10px 0;
}
.div-linhaBottom-peca{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px
}
.div-type-peca{
  width:100%;
  margin-bottom: 15px
}
.div-marca-peca{
  width: 100%
}
.div-modelo-peca{
  width: 76%;
}
.div-typeAndMark-peca{
  width: 22%;
  display: flex;
  flex-direction: column
}
.ant-card-body{
  padding: 0
}
.div-relacionados-peca{
  width: 100%;
  margin-top: 15px
}
.card-relacionados-peca{
  width: 100%
}
.p{
  margin: 0 5px 5px 8px
}
.card-modelo-peca{
  width: 100%;
  height: 200px;
}
.div-dataCard-peca{
  width: 100%;
}
.p-selecionados{
  margin: 5px 5px 5px 8px;
  cursor: pointer;
}
.p-selecionados:hover{
  background-color: rgba(172, 255, 47, 0.596)
}
.div-pai-newPeca{
  cursor: pointer;
  display: flex;
  margin: 5px;
  width: calc(100% - 10px);
}
.div-pai-newPeca:hover{
  background-color: rgba(255, 0, 0, 0.288)
}
.div-filha-newPeca-model{
  width: 50%
}
.div-filha-newPeca-type{
  width: 25%
}
.div-filha-newPeca-mark{
  width: 25%
}
.div-main-newPeca{
  display: flex;
  flex-direction: column
}
.cabecalho-newPeca-card{
  display: flex;
  background-color: #001429;
  width: 100%
}
.type-newPeca-cabecalho{
  width: calc(25% - 5px);
  margin: 5px 5px 5px 8px;
  color: white
}
.mark-newPeca-cabecalho{
  width: calc(25% - 5px);
  margin: 5px 5px 5px 8px;
  color: white
}
.model-newPeca-cabecalho{
  width: calc(50% - 5px);
  margin: 5px 5px 5px 8px;
  color: white
}
.p-nao-error{
  padding: 15px;
  border: 1px solid #ff0000 !important;
  background-color: #ff6c6c3b !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius:  5px;

}

.p-nao{
  margin: 15px
}

.div-newPeca-card{
  margin-top: 10px;
  width: 98% !important;
  box-shadow: 1px 0px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100% !important;
  position: sticky;
  bottom: 0;
  padding-bottom: 50px;
}
