.div-nosEservico-analise{
  display: flex;
  justify-content: space-between;
  width: 76%
}
.div-nos-analise{
  width: 15%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px
}
.div-servico-analise{
  width: 30%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px
}
.div-linha-analise{
  display: flex;
  width: 76% !important;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px
}
.div-tempo-analise{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px
}
.div-serialNumber-analise{
  width: 20% !important;
  margin-right: 10px
}
.div-razaoSocial-analise{
  width: 80% !important;
}
.div-type-analise{
  width: 22% !important;
  margin-right: 10px
}
.div-mark-analise{
  width: 20% !important;
  margin-right: 10px
}
.div-model-analise{
  width: 38% !important;  
  margin-right: 10px
}
.div-leitor-analise{
  width:  20% !important;  
}
.div-dadosDoEquipamento-analise{
  width:76%;
  display: flex;
  align-items: flex-start;
  font-size: 17px;
  font-weight: bold;
  margin: 20px 0 15px 0
}
.div-historico-analise{
  width: 76%;
  display: flex;
  align-items: flex-start;
  font-size: 17px;
  font-weight: bold;
  margin: 20px 0 10px 0
}
.card-analise{
  width: 76%;
  padding: 10px
}

.card-carrinho-analise{
  width: 100%;
  padding: 10px
}
.div-defeito-analise{
  width: 76%;
  display: flex;
  align-items: flex-start;
  font-size: 17px;
  font-weight: bold;
  margin: 20px 0 10px 0
}
.div-card-analise{
  margin-top: 10px;
  height: calc(200% - 10px) !important;
  width: 98% !important;
  box-shadow: 1px 5px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-checkbox-analise{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column
}
.ant-checkbox-wrapper{
  margin: 0 !important
}
.card-checkbox-analise{
  width: 100%;
  padding: 10px
}
.div-listaText-analise{
  width: 45%;
  display: flex;
  align-items: flex-start;
  font-size: 17px;
  font-weight: bold;
  margin: 20px 0 10px 0
}
.div-checkboxText-analise{
  width: 45%;
  display: flex;
  align-items: flex-start;
  font-size: 17px;
  font-weight: bold;
  margin: 20px 0 10px 0
}
.card-listaPecas-analise{
  width: 100%;
  padding: 10px
}
.div-linhaSpace-analise{
  display: flex;
  width: 76% !important;
  justify-content: space-between;
  margin-bottom: 10px
}
.div-listaDasPecas-analise{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column
}
.div-allCheckbox-analise{
  display: flex;
  width: 45%;
  flex-direction: column;
}
.div-allListaPecas-analise{
  display: flex;
  width: 45%;
  flex-direction: column
}
.div-linhaButton-analise{
  display: flex;
  width: 76% !important;
  justify-content: space-between;
  margin-top: 10px
}
.textArea-analise{
  width: 100%
}
.div-pecaModal-analise{
  width: 100% !important;
}
.div-motivoModal-analise{
  width: 100% !important;
  margin-top: 10px;
}
.textArea-motivoTroca-analise{
  width: 100%
}
.div-label-analise{
  margin: 5px 0 0 5px;
  font-size: 18px;
  font-weight: bold
}
.time-analise{
  width: 100%
}
.textArea-motivoPausa-analise{
  width: 100%;
  margin-top: 10px
}
.select-analise{
  width: 23%
}